# NILAI
NILAI_API_URL=https://nilai-a779.nillion.network
NILAI_API2_URL=https://nilai-a779.nillion.network
NILAI_API_KEY="Nillion2025"

# NILDB
NILDB_NODES=https://nildb-stg-n1.nillion.network,https://nildb-stg-n2.nillion.network,https://nildb-stg-n3.nillion.network
NILCHAIN_URL=http://rpc.testnet.nilchain-rpc-proxy.nilogy.xyz
NILAUTH_URL=https://nilauth.sandbox.app-cluster.sandbox.nilogy.xyz
NILAUTH_PUBLIC_KEY=03e3ba1eb887b4e972fbf395d479ff6cdb2cec91ba477ffc287b2b9cb5ec2161aa
NILLION_API_KEY=XXX

# COLLECTIONS
USER_COLLECTION_ID=XXXX
CHATS_COLLECTION_ID=XXX
MESSAGES_COLLECTION_ID=XXX

# SUPABASE & PRIVY
NEXT_PUBLIC_SUPABASE_URL=XXX
NEXT_PUBLIC_SUPABASE_ANON_KEY=XXX
NEXT_PUBLIC_PRIVY_APP_ID=XXX

# PROMPTS
PERSONA_AI_THERAPIST_PROMPT=XXX
PERSONA_PERSONAL_ASSISTANT_PROMPT=XXX
PERSONA_COMPANION_PROMPT=XXX
SYSTEM_PROMPT=XXX